* {
    box-sizing: border-box;
    font-family: Consolas, sans-serif;
}

body {
    background: linear-gradient(135deg, #464646 0%, #2D2D2D 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.header nav {
    display: flex;
    gap: 10rem;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;
}

.header a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 20px;
}

.header a:hover {
    text-decoration: underline;
    background: radial-gradient(#464646, #2a2a2a);
}

.header {
    margin-bottom: 1.7rem;
}

.name {
    background: radial-gradient(#7700ff00 0%, #2a2a2a 100%);
    border-radius: 50px;
    width: 100%;
    max-width: 1100px;
    padding: 30px;
    justify-self: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    margin-bottom: 40px;
}

.name h1 {
    color: white;
    text-decoration: underline;
    font-size: 60px;
    display: block;
    margin-left: 50px;
    margin-bottom: 35px;
}

.name p {
    color: white;
    margin-left: 50px;
    text-align: justify;
    padding-right: 30px;
}

.name:hover {
    background: linear-gradient(#4c00ff 0%, #ff0000 100%);
}

.name h1 strong {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-weight: 900;
    font-size: 65px;
}

.name h1 .raya {
    color: white;
    font-size: 60px;
}

.description p {
    color: white;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
}

.prices {
    justify-content: center;
    background-color: #464646;
    width: 100%;
    max-width: fit-content;
    padding: 30px;
    justify-self: center;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    margin-bottom: 30px;
}

.prices .target h2 {
    color: white;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
}

.prices .card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.prices .card-holder .card {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #343434;
    border-radius: 20px;
    width: 100%;
    max-width: 350px;
    transition: all 0.5s ease-in-out;
}

.prices .card-holder .card h2 {
    color: white;
    text-decoration: underline;
    text-align: center;
}

.prices .card-holder .card p {
    color: white;
    text-justify: distribute-all-lines;
    font-size: 16px;
}

.prices .card-holder .card button {
    background-color: #4c00ff;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.prices .card-holder .card button:hover {
    background-color: #5d00ff;
    transform: translateY(-5px);
}

.prices .card-holder .card:hover {
    transform: scale(1.5) translateY(-100px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    backdrop-filter: blur(7px);
    background-color: transparent;
}

.prices .card-holder .card gold {
    color: gold;
    text-decoration: underline;
    text-decoration-color: gold;
}

.prices .card-holder .card diamond {
    color: turquoise;
    text-decoration: underline;
    text-decoration-color: turquoise;
}

footer {
    background-color: #2a2a2a;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}

footer .head p {
    color: white;
    text-align: center;
    padding-top: 18px;
}

footer .row-1 nav {
    display: flex;
    gap: 10rem;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;
}

footer .row-1 nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 17px;
}

footer .row-1 nav a:hover {
    text-decoration: underline;
    background-color: #1100ff6a;
}

footer {
    width: 100%;
    max-width: 1400px;
    place-self: center;
}

@media (max-width: 1080px) {
    .header nav {
        display: flex;
        gap: 5rem;
        list-style-type: none;
        justify-content: center;
        margin-top: 20px;
    }
}